  <div class="container py-2 mb-2">
    <header class="d-flex flex-column flex-md-row align-items-center pt-3">
      <a class="navbar-brand me-md-auto my-0 mx-0 text-dark" href="/" style="text-decoration: none">2Stable</a>
      <nav class="my-2 my-md-0 me-md-3">
        <a class="p-2 text-dark" href="https://authenticator.2stable.com" style="text-decoration: none !important">Authenticator</a>
        <a class="p-2 text-dark" href="https://aso.2stable.com" style="text-decoration: none !important">ASO</a>
        <a class="p-2 text-dark" href="https://photovault.2stable.com" style="text-decoration: none !important">Photo Vault</a>
      </nav>
    </header>
  </div>