  <div class="container py-2 mb-2 mb-md-5">
    <header class="d-flex flex-column flex-md-row align-items-center pt-3">
      <a class="h3 me-md-auto my-0 mx-0 text-dark font-monospace" href="/" style="text-decoration: none">2Stable</a>
      <nav class="my-2 my-md-0 me-md-3 ">
        <a class="p-2" href="https://aso.2stable.com" style="text-decoration: none !important">ASO</a>
        <a class="p-2" href="{{ site.support_mail }}" style="text-decoration: none !important">Authenticator</a>
      </nav>
    </header>
  </div>